name: CI

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read
  packages: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: progression-labs-development/github-actions/typescript-test@main
        with:
          working-directory: infra/pulumi

  standards:
    name: Standards
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: progression-labs-development/github-actions/typescript-standards-check@main
        with:
          working-directory: infra/pulumi

  test-mcp:
    name: Test MCP
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: progression-labs-development/github-actions/typescript-test@main
        with:
          working-directory: mcp
