name: Deploy

on:
  push:
    branches: [main]
    paths:
      - 'infra/pulumi/**'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-west-2

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      PULUMI_CONFIG_PASSPHRASE: ""
      PULUMI_K8S_DELETE_UNREACHABLE: "true"
    steps:
      - uses: actions/checkout@v4

      - uses: chrismlittle123/github-actions/pulumi-deploy-aws@main
        with:
          role-to-assume: arn:aws:iam::215629979895:role/github-actions-pulumi
          pulumi-state-bucket: s3://pulumi-state-215629979895
          environment: dev
          working-directory: "infra/pulumi"
